language: ruby

sudo: required

services:
  - docker

before_install:
  - echo "Installing test gems"
  - gem install yaml-lint
  - export CLOUD_SDK_REPO="cloud-sdk-$(lsb_release -c -s)"
  - echo "deb http://packages.cloud.google.com/apt $CLOUD_SDK_REPO main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
  - curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
  - sudo apt-get update && sudo apt-get install google-cloud-sdk
  - sudo apt-get install kubectl
  - sudo apt-get install jq
  - echo $GCP_KEY_FILE | base64 -d > ./keyfile
  - gcloud auth activate-service-account -q $(jq -r .client_email keyfile) --key-file=./keyfile --project  $(jq -r .project_id keyfile)
  - rm ./keyfile
  - gcloud auth configure-docker --quiet
  
install: true

script:
  - echo "Testing solace image to GCR"
  - cd scripts
  - chmod 755 copy_solace_image_to_gkr.sh
  - ./copy_solace_image_to_gkr.sh -u $SOLACE_STANDARD_DOCKER_URL_PARAMETER_VALUE | tee results
  - export STANDARD_IMAGE_URL=`cat results | grep Success |awk -F';' '{printf "%s\n%s\n", $1, $2}'|awk -F ': ' '{printf $2}'`
  - gcloud container images describe $STANDARD_IMAGE_URL
  - ./copy_solace_image_to_gkr.sh -u $SOLACE_EVAL_DOCKER_URL_PARAMETER_VALUE | tee results
  - export EVAL_IMAGE_URL=`cat results | grep Success |awk -F';' '{printf "%s\n%s\n", $1, $2}'|awk -F ': ' '{printf $2}'`
  - gcloud container images describe $EVAL_IMAGE_URL
  - echo "Testing cluster create script"
  - chmod 755 create_cluster.sh
  - echo "Testing cluster create script with no perf tuning"
  - export TESTCLUSTERNAME1="sol-gke-travistest-$(date +%s)"
  - ./create_cluster.sh -z us-central1-b,us-central1-c,us-central1-f -c $TESTCLUSTERNAME1 -m g1-small
  - kubectl get statefulset,svc,pods,pvc,pv
  - echo "Testing cluster create script with perf tuning"
  - export TESTCLUSTERNAME2="sol-gke-travistest-$(date +%s)"
  - ./create_cluster.sh -z us-central1-b,us-central1-c,us-central1-f -c $TESTCLUSTERNAME2 -m g1-small -i cos -p
  - gcloud compute instances list --format='table(name,zone,status,tags.items)' | grep "'$TESTCLUSTERNAME2'"
  - command="sudo ls /etc/sysctl.d"
  - list=`gcloud compute instances list --format='table(name,zone,status,tags.items)' | grep "'$TESTCLUSTERNAME2'"`
  - # Check if occurrences of 99-sysctl.conf and 98-solace-sysctl.conf equal
  - a=`while read -r a b c ; do (gcloud compute ssh --ssh-flag="-T -o StrictHostKeyChecking=no" --zone $b $a -- "$command" &) ; done <<< "$list" ; sleep 2 ; wait` ; echo $a
  - bash -c "if [[ `echo \"$a\" | grep -o 99 | wc -l` != `echo \"$a\" | grep -o 98 | wc -l` ]] ; then echo \"Occurrences of 99-sysctl.conf and 98-solace-sysctl.conf not equal\" ; exit 1 ; fi"


after_success:
  - echo "Test Success - Branch($TRAVIS_BRANCH) Pull Request($TRAVIS_PULL_REQUEST) Tag($TRAVIS_TAG)"
  - echo "YAML linted"
  - echo "GKE cluster deployment tested"
  - echo "Messaging tested"

after_script:
  - gcloud container images delete $STANDARD_IMAGE_URL --quiet
  - gcloud container images delete $EVAL_IMAGE_URL --quiet
  - gcloud container clusters delete $TESTCLUSTERNAME1 --quiet --zone us-central1-b
  - gcloud container clusters delete $TESTCLUSTERNAME2 --quiet --zone us-central1-b
  - gcloud compute disks list | grep travis | sed 1d $rpt | while read -r a b c; do gcloud compute disks delete $a --zone $b --quiet; done
